{% extends 'layout/main.html' %}
{% load static %}

{% block title %} Project Details {% endblock %}
{%block nav%}
{%endblock%}
{% block content %}
<form method="post" id="categoryForm" class="bg-dark p-5 text-white">
    {% csrf_token %}
    <input type="hidden" name="view_type" value="add_category" enctype="multipart/form-data">
    <div class="form-group">
        <label for="id_name">category Name:</label>
         {{ form.name }}
         <small class="form-text text-muted">Enter category name.</small>
         {{ form.name.errors }}
    </div>
   
    <button type="submit" class="btn btn-primary">Save Category</button>
</form>
{%endblock%}